body {
	background-color:#2b1d0c;
    text-align: center;
  }
h1,h3{
    color: #eee3c8;
}
#group-by{
    width: 250px;
    color:#eee3c8;
}

#group-by: click{
    width: 250px;
    border:#FFFFFF;
}

#sorter{
    font-family: 'Nunito', sans-serif;
    background-color:#eee3c8;
    color:#2b1d0c;
    border: none;
}

#sorter: click {
    background-color:#eee3c8;
}